.container-home {
    background-color: var(--background-color-body);
    margin-top: 50px;
    margin: auto;
    min-height: 20vh;
    height: auto;
    width: 80vw;
    padding: 25px 50px;
    border-radius: 5px;
}
.container-home h1{
    color: #fff;
}

.container-home h1::after{
    content: '';
    height: 2px;
    width: 80px;
    display: flex;
    box-shadow: 0 4px #fff;
}

.container-home-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.container-home-content a{
    display: flex;
    width: 400px;
}

.lista-salao{
    display: flex;
    height: auto;
    justify-content: center;
}

.lista-salao a{
    width: 500px;
    display: flex;
    justify-content: center;
}

.lista-salao li{
    width: 400px;
    color: #fff;
}

.lista-salao img{
    width: 300px;
    height: 150px;
}

.container-home-content .lista-salao a{
    text-decoration: none;
    
}
.container-home-content p {
    list-style: none;
}

.container-home-content li,
.container-home-content-details {
    text-decoration: none;
    list-style-type: none;
    margin-top: 10px;
    padding: 25px 15px;
    border: 2px var(--background-color-container) solid;
    border-radius: 10px;
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
}

.container-home-content-details button {
    margin: 10px;
}
/* img {
    height: 40vh;
    width: 70vh;
} */

@media only screen and (max-width: 768px) {
    .home-services {
        padding: 15px 20px;
        margin-top: 120px;
    }
}
